
.gradient {
    background: linear-gradient(to right, #FF0000, #f9004d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.service:hover {
    background: linear-gradient(to right, #FF0000, #f9004d);
    color: white;
}

.slick-dots li button::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #f9004d;
}

.overlay {
    /* background: linear-gradient(to right, #FF0000, #f9004d); */
    background: linear-gradient(to bottom, #FF0000, #f9004d);
}


/*Swiper*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination{
    position: inherit;
    margin-top: 20px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #f9004d;
}